<%= form_for @common_parameter do |f| %>
    <%= base_errors_for @common_parameter %>
    <%= text_f f, :name %>
    <div class='form-group'>
      <label class="control-label col-md-2" for="common_parameter_value"><%= _("Value") %></label>

      <div class="col-md-9">
            <div id="react-ace"></div>
              <%= mount_react_component('Editor', "#react-ace", {
                template: @common_parameter.value,
                hidden_value: @common_parameter.hidden_value,
                locked: false,
                id: @common_parameter.id,
                name: 'common_parameter[value]',
                title: @common_parameter.name,
                showImport: false,
                showPreview: false,
                showHide: true
              }.to_json) %>
      </div>
    </div>

    <%= submit_or_cancel f %>
<% end %>
